nav {
  height: 120px;
  width: 100vw;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.logo {
  font-family: "Bungee", cursive;
}

.navbar.text {
  display: flex;
  align-items: center;
  flex-direction: column;
}

i.fa-angles-down {
  color: #d11d11;
}
